<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-2">
                        <div class="card-header">
                            <h3 class="mb-1">Presentación</h3>
                        </div>
                        <div class="card-body">
<p>                        
La Carrera de Ingeniería Informática de la Universidad Autónoma “Juan Misael Saracho” identificada con los más caros anhelos de la Universidad Boliviana, tiene la misión de formar profesionales idóneos, identificados y comprometidos con nuestra realidad. Bajo este marco, es importante reconocer el papel protagónico que juega la Informática en nuestra sociedad y la necesidad de encarar estudios para lograr una racional utilización de la tecnología involucrada en esta ciencia en beneficio del desarrollo armónico de nuestras organizaciones y por ende del país. Como resultado del rediseño curricular realizado en nuestra universidad en el año 2002, se propone la titulación directa en la carrera de Informática una vez que se apruebe la materia INF 501 TALLER III, reconocida como materia de profesionalización para mejorar los mecanismos de promoción estudiantil así como la calidad académica. 
</p>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
  
                </div>
            </div>
            <!--/row-->
  
        </div>
        <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->